<div class="row-top">
    <div class="column">
        <hr>
        <h3 class="black_header"><a href="index.html#issues">Issues</a></h3>
        <ul>
            <li><a class="link_text" href="healthcare.html">Healthcare</a></li>
            <li><a class="link_text" href="environment.html">Environment</a></li>
            <li><a class="link_text" href="education.html">Education</a></li>
            <li><a class="link_text" href="criminaljustice.html">Criminal Justice Reform</a></li>
            <li><a class="link_text" href="votingrights.html">Voting Rights</a></li>
            <li><a class="link_text" href="lgbtq.html">LGBTQ+ Rights</a></li>
            <li><a class="link_text" href="workerrights.html">Worker & Taxpayer Rights</a></li>
            <li><a class="link_text" href="gunrights.html">Gun Rights</a></li>
            <li><a class="link_text" href="housing.html">Housing & Community Development</a></li>
        </ul>
    </div>
    <div class="column">
        <hr>
        <h3 class="black_header"><a href="index.html#getinvolved">Getting Involved</a></h3>
        <ul>
            <li><a class="link_text" target="_blank" href="https://secure.actblue.com/donate/linscott-hill-4-ohio-1">Donate</a></li>
            <li><a class="link_text" href="mailto:Jimmy@linscott-hill4ohio.com?subject=Volunteer for Jimmy Lincscott-Hill&body=Hello Jimmy!%0D%0A%0D%0A I am interested in volunteering and would like to receive updates at this address about upcoming opportunities!%0D%0A%0D%0A">Volunteer</a></li>
            <li><a class="link_text" target="_blank" href="https://voterlookup.ohiosos.gov/voterlookup.aspx">Check Voter Registration</a></li>
            <li><a class="link_text" target="_blank" href="https://olvr.ohiosos.gov/">Register to Vote</a></li>
        </ul>
    </div>
</div>

<section class="row bar"></section>