<section class="row bar"></section>

<div class="row padded">
    <div>
        <a href="index.html">
            <img src="assets/images/logo_1.png" width="281px">
        </a>
    </div>

    <div>
        <div class="link_box">
            <a href="index.html#about" class="link_text">Meet Jimmy</a>
        </div>
        <div class="link_box dropdown">
            <a href="index.html#issues" class="link_text">Issues</a>
            <div class="dropdown-content">
                <a href="healthcare.html">Healthcare</a>
                <a href="environment.html">Environment</a>
                <a href="education.html">Education</a>
                <a href="criminaljustice.html">Criminal Justice Reform</a>
                <a href="votingrights.html">Voting Rights</a>
                <a href="lgbtq.html">LGBTQ+ Rights</a>
                <a href="workerrights.html">Worker & Taxpayer Rights</a>
                <a href="gunrights.html">Gun Rights</a>
                <a href="housing.html">Housing & Community Development</a>
            </div>
        </div>
        <div class="link_box">
            <a href="index.html#getinvolved" class="link_text">Get Involved</a>
        </div>
    </div>

    <div class="padded">
        <a href="https://secure.actblue.com/donate/linscott-hill-4-ohio-1" type="button" class="donate_btn" target="_blank">DONATE</a>
    </div>
</div>

<br>